.div.relative {
    position:relative;
    margin-top: 7rem;
}

.button {
    border-radius: 50px;
    padding:10px;
    text-align: center;
    background-color: #0f70e6;
    border-color: transparent;
    color: #ffffff;
    font-family: Canva Sans,Open Sans,sans-serif;
    font-weight: 700;
    font-size: medium;
}

.center {
    text-align: center;
    margin: auto;
}

.container {
    box-shadow: 0 0 20px 8px #888888;
    padding: 10px;
    border-radius: 25px;
    max-width: 450px;
    height: 300px;;
    margin: auto;
    gap: 50px;
}

.header {
    padding:20px;
    margin-bottom: 50px;
}

.image-view {
    box-shadow: 0 0 20px 8px #888888;
    padding: 10px;
    border-radius: 25px;
    max-width: 100%;
    height: 300px;
    margin: auto;
    background-color: #888888;
}

.theme-color {
    background-color: #0f70e6;
}
.container-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input-file {
    display: none;
}

.container.highlight {
    border-color: purple;
}
