{% extends "layout.html" %}

{% block title %}
    Ipload
{% endblock %}

{% block main %}
        <div class = "d-flex flex-column center container" id="drop-zone">
            <div class="dropzone-enabled"></div>
            <form action="/uploaded" class="p-2" enctype="multipart/form-data" method="post" id="form">
                <input name='input-file' type="file" id="input-file" class="button input-file" accept="image/*"></input>
                <label for="input-file" id="input-files" class="button">Upload File</label>

            </form>
            
            <div class="p-2">
                <p>or drop a file</p>
            </div>
        </div>
        
{% endblock %}
