{% extends "network/layout.html" %}

{% block body %}
    TODO
    {% if user.is_authenticated %}
    <form action="/" id="newpost" method="post" name="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Post" onsubmit="submit_post()">
    </form>
    {% endif %}

    <div id="show_posts"> 
        {% for post in posts %}
        <div>
            {{ post.post }}
        </div>
        <div>
            {{ post.owner }}
        </div>
        <div>
            {{ post.createdOn }}
        </div>
        
        <div>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" value="{{ post.id }}" name="like">
                    {%if user in post.like.all %}
                    <i class="fa-solid fa-heart"></i>
                    {% else %}
                    <i class="fa-regular fa-heart"></i>
                    {% endif %}
                    <span>{{ post.number_of_likes }}</span>
                </button>
            </form>
        </div>
        {% endfor %}
    </div>

{% endblock %}